body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

/*the containers*/

.whiteCont {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 900px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.pinkCont {
    position: absolute;
    height: 400px;
    width: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #ff826c, #ff4457);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/*the toggle*/

h1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
    font-weight: 550;
    color: #2d2e40;
}

.toggle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    font-size: 0.8em;
    font-weight: 450;
    color: #2d2e40;
}

.txt1 {
    position: absolute;
    left: 5%;
    top: -10%;
}

.txt2 {
    position: absolute;
    right: 5%;
    top: -10%;
}

.switch {
    --button-width: 2.6em;
    --button-height: 1.5em;
    --toggle-diameter: 1em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2.3em;
    --color-grey: #cccccc;
    --color-blue: #2d2e40;
    position: absolute;
    top: 24%;
    left: 42%;
   }
   
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
   
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}
   
.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-blue);
}
   
.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
   
.switch input[type="checkbox"] {
    display: none;
}
   
.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}
   
.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
   
/*the texts*/

.leftText {
    position: absolute;
    left: 6%;
    top: 6%;
    text-align: center;
    color: #2d2e40;
}

.rightText {
    position: absolute;
    right: 5%;
    top: 6%;
    text-align: center;
    color: #2d2e40;
}

.midText {
    position: absolute;
    top: 12%;
    left: 21%;
    text-align: center;
    color: white;
}

.type {
    font-weight: 450;
    font-size: 0.9em;
}

.price {
    margin: 0%;
    font-size: 2.5em;
    font-weight: 600;
}

.points {
    font-size: 0.9em;
    font-weight: 450;
    padding-top: 3px;
}

button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 0.7em;
    border: none; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.button0 {
    background: linear-gradient(to right, #ff826c, #ff4457);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button0:hover {
    background: linear-gradient(to right, #ff4457, #ff826c);
    scale: 1.015;
}

.button1 {
    background-color: white;
    color: #2d2e40;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button1:hover {
    scale: 1.015;
}

.button0:active {
    transform: scale(0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.button1:active {
    transform: scale(0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}